body {
    background-color: #000000;
    font-family: verdana, arial, helvetica, sans-serif, serif;
    font-size: 16px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

.Container {
    text-align: center;
}

.Container:before {
    content: '';
    height: 100 % ;
    display: inline-block;
    vertical-align: middle;
}

.Content {
    display: inline-block;
    vertical-align: middle;
}

.sunshine {
    font-weight: bold;
    font-style: italic;
    color: yellow;
    }
a {
    text-decoration: none;
}

h1 {
    color: silver;
    font-size: 4rem;
    text-align: center;
}

h3 {
    color: lime;
    font-size: 3rem;
    text-align: center;
}

h4 {
    color: fuchia;
    font-size: 2.5rem;
    text-align: center;
}

h5 {
    color: aqua;
    font-size: 2rem;
    text-align: center;
}

p {
    font-family: Verdana;
    font-size: 1rem;
    text-align: center;
    text-indent: 4rem;
    color: white;
}

cite {
    font-style: italic;
    color: yellow;
}

article {
    display: block;
    color: purple;
}

blockquote {
    display: block;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 80px;
    margin-right: 80px;
}
